.container {
    margin-top: 20px;
} #settings * {
    width: auto;
    display: inline-block;
} #settings {
    margin: 10px 0 10px 0;
} #custom_row_separator, #custom_column_separator {
    display: none;
} #tables {
    display: none;
} .overflow_scroll {
    display: none;
    overflow-x: scroll; 
    width: 100%;
} #paste_data_block {
    display: none;
} .remove_row {
    color: red;
    cursor: pointer;
}